---
import qrCode from './_starter-files/images/image-qr-code.png'
import {Image} from 'astro:assets'
---
<div class="tw-bg-white tw-rounded-2xl tw-p-4 tw-max-w-[320px]">
    <Image src={qrCode} alt="qr code" class="tw-rounded-2xl"/>
    <div class="tw-mx-5 tw-my-4">
        <p class="tw-text-center tw-font-bold tw-text-2xl tw-text-dark-blue tw-mb-3">Improve your front-end skills by building projects</p>
        <p class="tw-text-center tw-text-grayish-blue">Scan the QR code to visit Frontend Mentor and take your coding skills to the next
            level</p>
    </div>
</div>